.codiceFiscale{
    margin-bottom: 150px;
    margin-top: 150px;
    width: 100%;
    text-align: center;
    
    
}

.next{
    height: 100px;
    width: 150px;
  font-size: x-large;
}

.scanner{
    height: 100px;
    width: 150px;
  font-size: x-large;
}

