<div fxLayout="column" fxLayoutAlign="space-evenly center">
	<h3 style="color: red;">ATTENZIONE IL SISTEMA SARA' IN MANUTENZIONE DALLE ORE 20:30 DEL 07/01/2022 ALLE ORE 08:00 DEL 08/01/2022!</h3>
</div>

<div fxLayout="column" fxLayoutAlign="space-evenly center" *ngIf="!paymentOk && !paymentKo">
	<!--        
	<scandit-sdk-barcode-picker
		[scanSettings]="settings"
		(scan)="onScan($event)"
		(error)="onError($event)"
		></scandit-sdk-barcode-picker>
	-->
	<scandit-barcode-picker class="wrapped" *ngIf="scanning" (scan)="scanComplete($event)"
		configure.licenseKey="AbwQXBdzNo8xLhGzWTFChC4x3h3gN0BBUEpugt9Zci+3BAFxH05XSSg4KRd1evSFxHTJL2YAKDb+Jwi2MEuSYTgGgAe8bvfJBHEetmBGbBhzU2s1lXlF1j92wrPaVjAWpS5J8cp2Qr1FPcXetShFpC89vnAeLc6i21vHD39XK82Ftjjp2FQpX0kkJkTugvOR3DdxYrWS93Rr11QALl+5Tsq3MGTq85nJi/UPeBpamQ+UUOZZVt8Pb420TsWNxlgaasxDMIOyU4HmPlF3rJkt1cSs+XFi/Mj5/0xKlrhelzTPYEkfmvx9LvNS6m1cNzDmGasrN780G0xwU7FqZBA4r68TeUTbKXjGzkO2vT2X+tsVpzSd6bKAwaQDGdSkyCRojmlSlrZ1eo91ciwyvt8qZy8hY0Tum9eXCVinoQqRF1eDn6R31tqygSZluK3Cv0UWu8Xzd3YJMoAFel4FVuEaJkwSdmc3PKCkayKlElYEJ/pip1sgr7aYDJgoExJEjtrb6P7TpysX1REzVBB4aGqiF52VhJXOg6apEQkcrJLxNSWgux4dHokbG7dQMKb4A7hiFDzzr7WhPgm39vEqVUwBF+FN5yJwZTxOxEY0lW19FEjLhG4F7FJW1L6QKo4fyFwPAyYsUDMkTnNzs6jpPBtoMc9kO1vDCff5uQ81+GVv3AgA/9//gsqWOYHHIalk0xaMjyBaAWIB4GCuiv1cANmoY334jcJUPBB5+6LaGlPYjiHSyTPpPih+dOvdYFRwE/u3NL+hAgk2xzBe6Ip6NydWqyqejhAs7d4A7BRrNKm46Wy0QH90fmXyOU3gxAjEIfnzlFPiUdwRLcI="
		configure.engineLocation="https://cdn.jsdelivr.net/npm/scandit-sdk@5.x/build/" playSoundOnScan="true"
		vibrateOnScan="true" scanSettings.enabledSymbologies='["code39"]'></scandit-barcode-picker>
	

	<div class="wrapped" *ngIf="!scanning">
		<mat-form-field appearance="outline" class="no-wrapper" fxFlex="89">
			<mat-label>Codice Fiscale</mat-label>
			<input matInput placeholder="Codice Fiscale" [(ngModel)]="cf" [disabled]="validation">
		</mat-form-field>
		<div fxFlex="1"></div>
		<button mat-stroked-button color="warn" fxFlex="10"
			(click)="activateScanner()">
			<mat-icon aria-label="Scansiona">qr_code_scanner</mat-icon>
		</button>
	</div>

	<div class="wrapped" >
		<mat-form-field appearance="outline" class="no-wrapper" fxFlex="50">
			<mat-label>Importo</mat-label>
			<input type="number" matInput #amountInput placeholder="Importo" [(ngModel)]="amount" [disabled]="validation">
		</mat-form-field>
		<div fxFlex="1"></div>
		<button *ngIf="isReady()" class="next" mat-raised-button color="primary" fxFlex="49" (click)="proceedToValidation()">Avanti</button>
	</div>

	<div class="wrapped" *ngIf="validation" fxLayoutAlign="space-evenly center">
		<p>Rivolgere il dispositivo al cittadino, in modo che inserisca il pin.</p>
	</div>
	<div class="wrapped" *ngIf="validation" fxLayoutAlign="space-evenly center">
		<h1>Stai pagando:</h1>
		<h1>{{ amount | currency: 'EUR' }}</h1>
	</div>
	<div class="wrapped" *ngIf="validation">
		<mat-form-field appearance="outline" class="no-wrapper" fxFlex="50">
			<mat-label>PIN</mat-label>
			<input type="number" matInput #pinInput placeholder="PIN" [(ngModel)]="pin" [disabled]="paymentInProgress">
		</mat-form-field>
		<div fxFlex="1"></div>
		<button *ngIf="(pin !== undefined && pin > 99999) && !paymentInProgress" class="next" mat-raised-button color="primary" fxFlex="49" (click)="proceedToPayment()">PAGA</button>
	</div>

	<div class="wrapped" fxLayout="column" fxLayoutAlign="center center" *ngIf="paymentInProgress">
		<h1>Pagamento in corso</h1>
		<h2>NON CHIUDERE LA PAGINA</h2>
		<mat-progress-spinner mode="indeterminate" diameter='100' strokeWidth='10'></mat-progress-spinner>
		<pre>{{ res | json }}</pre>
	</div>
</div>

<div fxLayout="column" fxLayoutAlign="space-evenly center" *ngIf="paymentOk || paymentKo">
	
	<div class="wrapped" fxLayout="column" fxLayoutAlign="center center" *ngIf="paymentOk">
		<h1 style="color:green">Pagamento di {{ amount | currency: 'EUR' }} completato!</h1>

		<button mat-raised-button fxFlex="50" (click)="reload()">Nuova transazione</button>
	</div>

	<div class="wrapped" fxLayout="column" fxLayoutAlign="center center" *ngIf="paymentKo">
		<h1>Problemi nel pagamento!!!</h1>
		<h2 style="color:red">{{ errore }}</h2>
		<h2>Non è stato scalato alcun importo</h2>
		<button mat-raised-button fxFlex="50" (click)="reload()">Nuova transazione</button>
		<hr>
		<pre>{{ res | json }}</pre>
	</div>

</div>